.navbar {
  width: 100%;
  height: 60px;
  background: #111;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  color: #eee;
  font-size: 16px;
}

.nav-logo {
  font-weight: 600;
  margin-right: 40px;
  color: #eee;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  transition: 0.2s;
}

.nav-links a:hover {
  color: white;
}

/* Container do botão à direita */
.nav-right {
  display: flex;
  align-items: center;
}
