* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  background-color: #121212;
  color: #eee;
  height: 100%;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
